* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Inconsolata', monospace;
  background: #031d00;
}

form {
  display: inline-block;
}

h1 {
  font-size: 2em;
}

h2 {
  display: inline-block;
  font-size: 1.5em;
  padding: 0px;
}

p {
  line-height: 1.2em;
  font-size: 1.2em;
  padding: 5px 15px;
}

.container > a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 700;
  color: rgb(53, 126, 5);
  border: 2px solid rgb(53, 126, 5);
  border-radius: 5px;
  padding: 4px 12px;
  margin-top: 10px;
  transition: all ease-in-out 0.2s;
}

.container > a:hover {
  color: white;
  background-color: rgb(53, 126, 5);
}

.container {
  padding: 15px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 40px;
  background: white;
  border-radius: 7px;
  text-align: center;
}

.top {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr 0.8fr 0.2fr;
  align-items: center;
  height: 30px;
  margin-bottom: 25px;
  text-align: left;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  height: 50px;
  font-size: 1.2em;

}

.dealer, .starter {
  font-size: 1.2em;
}

input[type=radio]:hover, label:hover {
  cursor: pointer;
}

.close {
  font-size: 1.2em;
  font-weight: 700;
  background: none;
	border: none;
	color: #ff3d41;
  cursor: pointer;
}

.score {
  display: inline-block;
  color: rgb(0, 0, 0);
  width: 80px;
}

 #addbttn {
   background-color: #217E02;
   border-radius: 5px;
   color:rgb(255, 255, 255);
   font-size: 1.2em;
   font-weight: 700;
   padding: 3px 10px;
 }

.resetbttn {
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 5px;
}

.ptsbttn{
  cursor: pointer;
  padding: 5px 12px;
  border-radius: 5px;
  background-color: #72d454;
}

.ptsbttn:hover{
  opacity: 70%;
}

#nameinput {
  padding: 4px;
  width: 250px;
  line-height: 1.3em;
  font-size: 1.2em;
  border-radius: 5px;
  border: 1px solid rgb(126, 126, 126);
}

.score-input {
  width: 70px;
}

#list{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

ul > li {
  padding: 15px 10px;
  color: #000;
  height: auto;
  word-wrap: break-word;
}

ul li:nth-child(even) {
  background: #cfe6d0;
}

.delete {
  display: none;
}

.footer-logos {
  width: 55px;
  height: auto;
  margin: 5px;
  transition: all 0.2s ease-in-out;
}

.footer-logos:hover {
  transform: scale(1.2);
}

@media all and (max-width: 450px) {

  body {
    font-size: 0.9em;
  }

  h1 {
    font-size: 17pt;
  }

  h2 {
    font-size: 13pt;
  }

  .container {
    padding: 0px 0px 10px;
    min-width: 300px;
    margin-top: 20px;
    border-radius: 0px;
  }

  .score {
    width: 80px;
    overflow: scroll;
    font-size: 0.9em;
  }

  #nameinput {
    width: 200px;
  }

  ol > li {
    padding: 10px 0px;
    margin: 0;
  }

  .dealer, .starter {
    font-size: 1.1em;
  }
  .resetbttn {
    padding: 3px 4px;
    font-size: 0.9em;
  }

  .ptsbttn {
    cursor: pointer;
    padding: 3px 4px;
    border-radius: 5px;
    font-size: 0.9em;
  }
  
  .ptsbttn:hover{
    opacity: 70%;
  }
}